%h2 Posts

= form_for [current_user,Post.new] do |f|
  = f.label :message
  = f.text_area :message, :rows => 4
  .group
    = f.check_box :twitter
    = f.label :twitter
  .group
    = f.check_box :facebook
    = f.label :facebook
  = f.submit "Post"
  
.posts
  = render :partial => 'post', :collection => posts