= link_to t('title'), root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      = link_to(t('navigation.logout'), destroy_user_session_path, :method=>'delete')
  - else
    %li
      = link_to(t('navigation.login'), new_user_session_path)
  - if user_signed_in?
    %li
      = link_to(t('navigation.account.edit'), edit_user_registration_path)
      - if current_user.has_role? :admin
        %li
        = link_to(t('navigation.admin'), users_path)
  - else
    %li
      = link_to(t('navigation.signup'), new_user_registration_path)
